body{
    background-color: #000;
    color: rgb(183, 0, 207);
    padding: 20px;
}


h2{
    color: blue;
}
h3{
    color: red;
    font-size: 18px;
}
h4{
    color: rgb(60, 255, 0);
    font-size: 16px;
}
p{
    color: rgb(0, 217, 255);
}
span{
    color: #000;
}
.car{
    text-transform: uppercase;
}